@model Project3.Models.Teacher

@{
    ViewBag.Title = "Update";
}


<div id="show-container">


        <nav>
            <a class="navlink" href="/teacher/show/@Model.TeacherId">Back</a>
        </nav>

        <h2>Update Teacher</h2>



    <form method="POST" action="/Teacher/Update/@Model.TeacherId">

        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />
        </div>

        <div class="inputrow">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />
        </div>

        <div class="inputrow">
            <label for="TeacherSalary">Salary:</label>
            <input type="text" id="TeacherSalary" name="TeacherSalary" value="@Model.TeacherSalary" />
        </div>

        <div class="inputrow">
            <label for="TeacherHireDate">Hire Date:</label>
            <input type="text" id="TeacherHireDate" name="TeacherHireDate" value="@Model.TeacherHireDate" />
        </div>


        <div class="inputrow">
            <input type="submit" value="Update Teacher"/>
        </div>




    </form>
</div>